html {
  background-color: #232c3b;
  color: #dfe0e2;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

header, body {
  margin: 5%;
}

/*rotate-words*/

.spinny-wrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  
}

.spinny-words{
  display: inline-block;
  min-width: 350px;
  text-align: left;
}
.spinny-words span{
  position: absolute;
  font-weight: bold;
  top: 120px;
  opacity: 0;    
  animation: rotateWord 18s linear infinite 0s;
}
.spinny-words span:nth-child(2) { 
  animation-delay: 3s; 
}
.spinny-words span:nth-child(3) { 
  animation-delay: 6s; 
}
.spinny-words span:nth-child(4) { 
  animation-delay: 9s; 
}
.spinny-words span:nth-child(5) { 
  animation-delay: 12s; 
}
.spinny-words span:nth-child(6) { 
  animation-delay: 15s; 
}
.spinny-words span:nth-child(7) { 
  animation-delay: 18s; 
}
@keyframes rotateWord {
0%   { opacity: 0; }
2%   { opacity: 0; transform: translateY(-30px); }
5%   { opacity: 1; transform: translateY(0px);}
17%  { opacity: 1; transform: translateY(0px); }
20%  { opacity: 0; transform: translateY(30px); }
80%  { opacity: 0; }
100% { opacity: 0; }
}

/*flex-box*/

.flexbox-container {
  display: flex;
}

.flexbox-item {
  width: 200px;
  height: 10px;
  background-color: #f8f8f8;
}


.flexbox-item-2 {
  height: 10px;
  background-color: #ff4719;
}

/*sections*/

.section#one {
  background-color: #232c3b;
  margin-top: -8%;
  margin-left: 16%;
  margin-right: -1%;
  margin-bottom: 0%;
  height: 700px;
}

.section#two {
  background-color:#232c3b;
  margin: 0%;
  margin-left: 5%;
  margin-right: 9%;
  height: 300px;
}

.section#two {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 50% 50%;
}

.section#two > .text {
  grid-column: 1 / 2;
}

.section#two > .text2 {
  grid-column: 2 / 3;
}

.section#three {
  background-color:#232c3b;
  margin: 0%;
  height: auto;
}

.section#three {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 50% 50%;
}

.section#three > .graph {
  grid-column: 1 / 2;
}

.section#three > .text {
  grid-column: 2 / 3;
}

.section#four {
  background-color: #232c3b;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 9%;
  margin-bottom: 0%;
  text-align: right;
}

.section#five {
  background-color: #232c3b;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 9%;
  margin-bottom: 0%;
}

#myBorder {
  height:10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  background-color: #3c70b8;
}
#myBorder div {
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
}
.item1 {
  grid-column: 1 / 2;
}

.item2 {
  grid-column: 2 / 3;
  background-color: #ff4719
}
/* section#one viz=globe */

.land {
  fill: #232c3b;
  stroke-opacity: 1;
}

.countries path {
  stroke: #303030;
  stroke-linejoin: round;
  stroke-width: .5;
  fill: transparent;
}

.countries path:hover {
  stroke: rgba(0, 0, 0, .6);
  fill-opacity: .3;
  fill: #ff4719;
}

.graticule {
  fill: none;
  stroke: #dfe0e2;
  stroke-width: .5;
  opacity: .2;
}

.labels {
  font: 8px sans-serif;
  fill: black;
  opacity: .5;
}

.noclicks {
  pointer-events: none;
}

.point {
  opacity: .6;
}

.arcs {
  opacity: .1;
  stroke: gray;
  stroke-width: 3;
}

.flyers {
  stroke-width: 1;
  opacity: 5;
  stroke: #ff4719;
}

.arc,
.flyer {
  stroke-linejoin: round;
  fill: none;
}

.arc {}

.flyer {}

.flyer:hover {}

/* section#two viz=timeline */
.timeline-base {
  stroke: #444;
  stroke-width: 0.2;
}
.circle-category {
  transition: fill-opacity 0.2s, r 0.5s;
  -webkit-transition: fill-opacity 0.2s, r 0.5s;
}
.circle-education,
.circle-education ~ .text-position,
.details-education .text-position {
  color: #ff896b;
  fill: #ff896b;
}
.circle-work,
.circle-work ~ .text-position,
.details-work .text-position {
  color: #e9e9e9;
  fill: #e9e9e9;
}
.circle-hovered {
  fill-opacity: 0.2;
}
.circle-clicked {
  fill: #fff;
  transition: fill 1s, r 0.9s;
  -webkit-transition: fill 1s, r 0.9s;
}
.text-date,
.text-position {
  transition: opacity 0.7s ease-in-out;
  -webkit-transition: opacity 0.7s ease-in-out;
}
.text-date {
  fill: #888;
  font-family: 'Plus Jakarta Sans', sans-serif;;
}
.details .text-date {
  margin-right: 15px;
}
.text-place {
  font-family: 'Plus Jakarta Sans', sans-serif;;
  font-size: 18px;
  fill: #888;
  margin-top: 10px;
}
.text-place.hovered,
.text-desc.hovered,
.text-date-end.hovered {
  transition: opacity 1.5s;
}
.text-place,
.text-desc,
.text-date-end {
  transition: opacity 0.1s;
}
.position-title {
  font-size: 25px;
}
.text-position,
.text-desc {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
.text-desc {
  color: #444;
  margin-top: 20px;
}
.close-icon {
  color: #ccc;
  cursor: pointer;
  font-size: 38px;
  display: inline-block;
  vertical-align: middle;
}
.title {
  clear: both;
  display: inline-block;
}
.details {
  transition: opacity 1s ease-in-out;
}

/* section#three viz=heatmap */

.four {
  width: 100%;
  max-width: 1080px;
  height: 390px;
  margin: 50px;
}

.five {
  font-family: 'Rock Salt', cursive;
  color: #12203b;
  font-size: 9pt;
 }

  rect.bordered {
    stroke: #f8f8f8;
    stroke-width:1px;   
  }

  text.mono {
    font-size: 9pt;
    font-family: Open Sans, sans-serif;
    fill: #e9e9e9;
  }

  text.axis-workweek {
    fill: #e9e9e9;
  }

  text.axis-worktime {
    fill: #e9e9e9;
  }

  #dataset-picker {
    display: flex;
    justify-content: center;
  }

  div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: transparent;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    transition: all 1500ms ease;		
}